/* Home 페이지 컨테이너 */
.Home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height:100vh; 
    gap : 250px;
}

  /* 프로젝트명 스타일 */
.home-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 8px;
}

  /* 슬로건 스타일 */
.home-slogan {
    font-size: 14px;
    color: #ff8c94;
    margin-bottom: 40px;
}

  /* 버튼 컨테이너 */
.home-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
}
